<!--======  BLOG PART START ======-->
<section class="blog-area pb-140" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 pb-80">
                <div class="section-title blog-title">
                    <p class="section-para"><span></span>{{ site.data.settings.blogs_settings.title  }}</p>
                    <h1>{{ site.data.settings.blogs_settings.description  }}</h1>
                </div>
            </div>
            <div class="col-lg-8 text-right">
                <a href="{{ site.data.settings.blogs_settings.button.link }}" class="btn blog-btn">{{ site.data.settings.blogs_settings.button.name }}<i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="row">
            {% for post in site.posts limit: 3 %}
            <div class="col-lg-4">
                <div class="single-blog-area">
                    {% if post.post_image %}
                    <div class="single-blog-img">
                        <a href="{{post.url}}"><img src="{{post.post_image}}" class="img-fluid" alt="{{post.title}}"/></a>
                    </div>
                    {% endif %}
                    <div class="single-blog-content">
                        {% if post.date %}
                         <p><i class="far fa-calendar-alt"></i>{{post.date | date_to_long_string}}</p>
                        {% endif %}
                        <a href="{{post.url}}" ><p class="styled-para">{{post.title | truncate: 50}}</p></a>
                        <a href="{{post.url}}" class="blog-read-more">Raed More <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--======  BLOG PART END ======-->