<!--======  CTA PART START ======-->
<section class="cta-area cta-bg pt-140 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="cta-title">
                    <span><img src="{{relative_url}}{{ site.data.settings.cta_settings.image }}" alt="slider"/></span>
                    <h1>{{ site.data.settings.cta_settings.title }}</h1>
                    <p>{{ site.data.settings.cta_settings.description }}</p>
                    <a href="{{ site.data.settings.cta_settings.button.link }}" class="btn cta-btn">{{ site.data.settings.cta_settings.button.name }} <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--======  CTA PART END ======-->