<!--======  CONTACT-WITH-FOOTER PART START ======-->
<section class="contact-with-footer-area contact-bg pt-100" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center pb-80">
                <div class="section-title contact-title">
                    <span><img src="{{relative_url}}/assets/images/contact-text.png" alt=""></span>
                    <p class="section-para"><span></span>Message Us</p>
                    <h1>Don't Hesitate To Contact With Us</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-form-area">
                    <form action="https://formsubmit.io/send/{{site.email}}">
                        <div class="single-contact-field">
                            <input type="text" placeholder="Your Name" name="your_name" required>
                            <span class="far fa-user"></span>
                        </div>
                        <div class="single-contact-field">
                            <input type="email" placeholder="Your email" name="your_email" required>
                            <span class="fas fa-envelope-open-text"></span>
                        </div>
                        <div class="single-contact-field">
                            <input type="text" placeholder="Your phone" name="your_phone" required>
                            <span class="fas fa-phone"></span>
                        </div>
                        <div class="single-contact-field textarea">
                            <textarea name="#" id="#" cols="30" rows="10" placeholder="Your Message" name="your_message" required></textarea>
                            <span class="fas fa-pencil-alt"></span>
                            <button class="btn contact-btn" type="submit">send message <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            {% if site.phone_number %}
            <div class="col-lg-4">
                <div class="single-address-area">
                    <span><i class="fa fa-phone"></i> {{site.phone_number}}</span>
                </div>
            </div>
            {% endif %}
            {% if site.email %}
            <div class="col-lg-4">
                <div class="single-address-area">
                    <span><i class="fa fa-envelope"></i> {{site.email}}</span>
                </div>
            </div>
            {% endif %}
            {% if site.address %}
            <div class="col-lg-4">
                <div class="single-address-area">
                    <span><i class="fa fa-map-pin"></i> {{site.address}}</span>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container border-top">
            <div class="row">
                <div class="col-lg-6">
                    <p>{{site.copyright_text}}</p>
                </div>
                <div class="col-lg-6">
                    <ul class="footer-links">
                        {% if site.facebook_url %}
                         <li><a href="{{site.facebook_url}}" target="__blank"><i class="fab fa-facebook-f"></i></a></li>
                        {% endif %}
                        {% if site.twitter_url %}
                         <li><a href="{{site.twitter_url}}" target="__blank"><i class="fab fa-twitter"></i></a></li>
                        {% endif %}
                        {% if site.behance_url %}
                         <li><a href="{{site.behance_url}}" target="__blank"><i class="fab fa-behance"></i></a></li>
                        {% endif %}
                        {% if site.instagram_url %}
                         <li><a href="{{site.instagram_url}}" target="__blank"><i class="fab fa-instagram"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--======  CONTACT-WITH-FOOTER PART END ======-->