<!--======  HERO PART START ======-->
<section class="hero-area hero-carousel-active" id="home">
    <div class="single-hero-area hero-bg-1 bg_cover" data-scroll-area="true">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-area-content">
                        <p class="hero-para">Start New Business  <br>
                            With Our New Experience and</p>
                        <h1 class="hero-heading">
                            Creative Minds
                        </h1>
                        <div class="hero-area-menu">
                            <ul>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Marketing</a></li>
                                <li><a href="#">Developemt</a></li>
                            </ul>
                        </div>
                        <a href="#" class="btn hero-btn">Get Started <i class="fa fa-arrow-right"></i></a>
                        <a href="https://www.youtube.com/watch?v=iogabydg2y0" class="video-btn video-popup"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-scrolli">
            <span><i class="fa fa-arrow-down"></i></span>
        </div>
    </div>
    <div class="single-hero-area hero-bg-2 bg_cover" data-scroll-area="true">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-area-content">
                        <p class="hero-para">Start New Business  <br>
                            With Our New Experience and</p>
                        <h1 class="hero-heading">
                            Creative Minds
                        </h1>
                        <div class="hero-area-menu">
                            <ul>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Marketing</a></li>
                                <li><a href="#">Developemt</a></li>
                            </ul>
                        </div>
                        <a href="#" class="btn hero-btn">get Started <i class="fa fa-arrow-right"></i></a>
                        <a href="#" class="video-btn video-popup"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-scrolli">
            <span><i class="fa fa-arrow-down"></i></span>
        </div>
    </div>
    <div class="single-hero-area hero-bg-3 bg_cover" data-scroll-area="true">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-area-content">
                        <p class="hero-para">Start New Business  <br>
                            With Our New Experience and</p>
                        <h1 class="hero-heading">
                            Creative Minds
                        </h1>
                        <div class="hero-area-menu">
                            <ul>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Marketing</a></li>
                                <li><a href="#">Developemt</a></li>
                            </ul>
                        </div>
                        <a href="#" class="btn hero-btn">get Started <i class="fa fa-arrow-right"></i></a>
                        <a href="#" class="video-btn video-popup"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-scrolli">
            <span><i class="fa fa-arrow-down"></i></span>
        </div>
    </div>
</section>
<!--======  HERO PART END ======-->