<nav>
    <ul id="mobile-menu"> 
        <li class="{% if page.url == '/'%} current {% else %} normal {% endif %}"><a href="{{site.url}}#home">Home</a></li>
        <li><a href="{{site.url}}#about">About Us</a></li>
        <li><a href="{{site.url}}#services">Technology</a></li>
        <!-- <li><a href="{{site.url}}#portfolio">portfolio</a></li>
        <li><a href="{{site.url}}#team">team</a></li> -->
        <li><a href="{{site.url}}#price">Use Cases</a></li>
        <!-- <li class="{% if page.url == '/blog/' %} current {% else %} normal {% endif %}"><a href="{{site.url}}#blog">Blog</a>
            <ul class="submenu">
                <Li><a href="/blog">Latest Blog</a></Li>
                <Li><a href="/blog-details">Blog Details</a></Li>
            </ul>
        </li> -->
        <li><a href="{{site.url}}#contact">Contact</a></li>
    </ul>
</nav>