<!--======  SERVICE PART START ======-->
<section class="service-area service-bg pt-140 pb-90" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center pb-80">
                <div class="section-title service-title">
                    <span><img src="{{relative_url}}/assets/images/service-text.png" alt=""></span>
                    <p class="section-para"><span></span>{{ site.data.settings.services_settings.title  }}</p>
                    <h1>{{ site.data.settings.services_settings.description  }}</h1>
                </div>
            </div>
        </div>
        <div class="row pb-30">
           {% for service in site.services %}
            <div class="col-lg-6 mb-4">
                <div class="single-service-box">
                    <div class="single-service-icon-box">
                        <p>{% if forloop.index < 10 %} 0{{forloop.index}} {% else %} {{forloop.index}} {% endif %}</p>
                        {% if service.icon %}
                          {{service.icon}}
                        {% endif %}
                    </div>
                    <div class="service-box-content">
                        <h3>{{service.title}}</h3>
                        <p>Inventore veritatis et quasi beata vitae dicta sunt explicabo. Neenms ipsam voluptatem voluptas</p>
                        <a href="{{service.url}}" class="service-btn">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--======  ABOUT-US PART END ======-->