<!--======  TEAM PART START ======-->
<section class="team-area pt-140 pb-140" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center pb-80">
                <div class="section-title team-title">
                    <p class="section-para"><span></span>{{ site.data.settings.teams_settings.title  }}</p>
                    <h1>{{ site.data.settings.teams_settings.description  }}</h1>
                </div>
            </div>
        </div>
        <div class="row team-carousel-active">
			{% for team in site.teams %}
            <div class="col-lg-4">
                <div class="single-team-area">
                    <div class="single-team-img text-center">
                        <img src="{{relative_url}}{{team.image}}" alt="">
                        <span class="team-icon-1"><img src="{{relative_url}}/assets/images/team/icon/1.png" alt=""></span>
                        <span class="team-icon-2"><img src="{{relative_url}}/assets/images/team/icon/2.png" alt=""></span>
                        <span class="team-icon-3"><img src="{{relative_url}}/assets/images/team/icon/3.png" alt=""></span>
                    </div>
                    <div class="single-team-content text-center">
                        <h4>{{team.name}}</h4>
                        <p>{{team.position}}</p>
                    </div>
                </div>
            </div>
			{% endfor %}            
        </div>
    </div>
</section>
<!--======  TEAM PART END ======-->