<!--======  TESTIMONIAL PART START ======-->
<section class="testimonial-area" id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="{{relative_url}}{{ site.data.settings.textimonials_settings.image }}" alt="">
            </div>
            <div class="col-lg-7 textimonial-carousel-active">
			{% for textimonial in site.data.settings.textimonials_settings.textimonial %}
                <div class="single-testimonial-content">
                    <span class="testimonial-quote"><i class="fa fa-quote-right"></i></span>
                    <p>{{ textimonial.text }}</p>
                    <div class="autohor-details">
                        <img src="{{relative_url}}{{ textimonial.image }}" alt="" class="author-img">
                        <h5 class="author-name">{{ textimonial.name }} <span>{{ textimonial.position }}</span></h5>
                    </div>
                </div>
            {% endfor %}   
            </div>
        </div>
    </div>
</section>
<!--======  TESTIMONIAL PART END ======-->