<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="{% if page.description %} {{page.description}} {% else %} {{site.description}} {% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="{{relative_url}}/assets/css/bootstrap.min.css">
    <!--====== Fontawesome pro css ======-->
    <link rel="stylesheet" href="{{relative_url}}/assets/css/all.css">
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="{{relative_url}}/assets/css/magnific-popup.css">
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="{{relative_url}}/assets/css/slick.css">
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="{{relative_url}}/assets/css/slick-menu.css">
    <!--====== Default css ======-->
    <link rel="stylesheet" href="{{relative_url}}/assets/css/default.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png">
    <!--====== Style css ======-->
    <link rel="stylesheet" href="{{relative_url}}/assets/css/style.css">
    <!--====== Style css ======-->
    <link rel="stylesheet" href="{{relative_url}}/assets/css/responsive.css">
    <title>{% if page.title %} {{page.title}} {% else %} {{site.title}} {% endif %}</title>
    {% if site.environment == 'production' %}
      {% include analytics.html %}
    {% endif %}
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="path/to/owl.carousel.min.css">
    <!-- Owl Carousel Theme (옵션) -->
    <link rel="stylesheet" href="path/to/owl.theme.default.min.css">
    
    <!-- jQuery 라이브러리 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="path/to/owl.carousel.min.js"></script>
</head>
<body>
    <!--======  PRELOADER PART START ======-->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_four"></div>
            </div>
        </div>
    </div>
    <!--======  PRELOADER PART END ======-->

    <!--======  OFFCANVAS-SEARCH PART START ======-->
    <div class="search-form">
    <div class="offcanvas-search-area">
        <form action="#">
            <input type="text" id="search-input" placeholder="Search.." required>
            <span class="close-bar"><i class="fas fa-times"></i></span>
        </form>
         <ul id="results-container"></ul>
     </div>
    </div>

    <!--======  OFFCANVAS-SEARCH PART END ======-->
    {% include header.html %}
    {{content}}
    {% include footer.html %}

    <!--======  SCROLL-TO-TOP PART START ======-->
    <div class="scroll-to-top">
        <span id="return-to-top"><i class="fa fa-arrow-up"></i></span>
    </div>
    <!--======  SCROLL-TO-TOP PART END ======-->
    <!--====== jquery js ======-->
    <script src="{{relative_url}}/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="{{relative_url}}/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="{{relative_url}}/assets/js/jquery.waypoints.min.js"></script>
    <!--====== Bootstrap js ======-->
    <script src="{{relative_url}}/assets/js/bootstrap.min.js"></script>
    <script src="{{relative_url}}/assets/js/popper.min.js"></script>
    <!--====== Slick js ======-->
    <script src="{{relative_url}}/assets/js/slick.min.js"></script>
    <!--====== Slick js ======-->
    <script src="{{relative_url}}/assets/js/slick-menu.min.js"></script>
    <!--====== counterup js ======-->
    <script src="{{relative_url}}/assets/js/jquery.counterup.min.js"></script>
    <!--====== Magnific Popup js ======-->
    <script src="{{relative_url}}/assets/js/jquery.magnific-popup.min.js"></script>
    <!--====== onepage-nav Popup js ======-->
    <script src="{{relative_url}}/assets/js/jquery.nav.js"></script>
    <script src="{{relative_url}}/assets/js/simple-jekyll-search.min.js"></script>
    <!--====== Main js ======-->
    <script src="{{relative_url}}/assets/js/main.js"></script>
</body>
</html>
